<div th:fragment="left_navbar">
<div class="col-md-12 admin_pull">
    <div class="col-md-3 fa-pull-left left_sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column l_navigation menu_js">

                <li class="nav-item active">
                    <a class="nav-link" href="#">

                        Ana Səhifə
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">

                        Menyular
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">

                        Adminlər
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">

                        İstifadəçilər
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">

                        Integrations
                    </a>
                </li>
            </ul>


        </div>


    </div>

    <div class="col-md-9 fa-pull-right">


        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>

        <!--Content son-->

        <!--Footer baslangici-->
    </div>


</div>
<div class="clearfix"></div>

<center>
</div>